@font-face {
  font-family: 'open-sans';
  src: url("../fonts/open-sans.eot");
  src: url("../fonts/open-sans.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans.woff") format("woff"), url("../fonts/open-sans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 72px;
  background-color: black;
  padding: 0 150px;
  vertical-align: middle; }

.header-nav {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 300;
  color: #ffffff; }

.header-nav a:not(:last-child) {
  margin-right: 50px; }

*,
*:before,
*:after {
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  text-decoration: none;
  color: inherit; }

input {
  border: none; }

button {
  border: none; }

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0; }

.img_empty {
  width: 455px;
  height: 305px;
  background-color: #9A9A9A;
  text-align: center;
  font-size: 34px;
  line-height: 305px;
  box-shadow: 0px 2px 40px 0px rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.5); }

.container {
  margin: 0;
  padding: 0; }

.container_flex {
  display: flex;
  justify-content: space-between; }

.container__preview {
  display: flex;
  justify-content: space-between; }

.container__preview {
  display: flex;
  justify-content: space-between; }

.btn {
  display: inline-block;
  vertical-align: middle;
  padding: 10px 35px;
  font-size: 15px; }

.btn_orange {
  background-color: #FF8B38;
  color: white;
  border: none;
  border-radius: 3px;
  transition: background-color 0.2s linear; }
  .btn_orange:hover {
    background-color: #ec6b0f;
    cursor: pointer; }

.btn_gray {
  background-color: #9A9A9A;
  color: #ffffff;
  margin-top: 45px;
  border: 2px solid white;
  transition: background-color 0.2s linear;
  cursor: pointer; }
  .btn_gray:hover {
    background-color: #858383; }

.form {
  display: flex;
  flex-direction: column;
  max-width: 360px;
  height: 365px;
  background-color: white;
  border-radius: 0 0 5px 5px;
  overflow: hidden; }

.input {
  margin: 0 30px;
  margin-top: 35px;
  padding: 10px;
  color: #BDBDBD;
  border-bottom: 1px solid #BDBDBD; }

.input:focus {
  outline: none;
  opacity: 0.6; }

.input:hover {
  cursor: pointer; }

.input_submit {
  padding: 17px 0;
  background-color: #FF8B38;
  font-size: 15px;
  color: white;
  margin: 0;
  margin-top: 45px;
  transition: background-color 0.2s linear; }

.input_submit:hover {
  background-color: #ec6b0f;
  cursor: pointer; }

.section {
  width: 100%;
  padding: 110px 150px;
  background-color: #ffffff; }

.section_gray {
  background-color: #F5F5F5; }

.section_darkgray {
  position: relative;
  background-color: #9A9A9A; }

.section_darkgray::before {
  display: inline-block;
  content: 'Insert your picture here';
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 33px;
  color: rgba(255, 255, 255, 0.4); }

.section-content {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #86878B;
  max-width: 395px; }

.section-content_item__inline {
  margin-left: 30px; }

.section-content_item {
  display: flex;
  margin: 35px 0; }

.section-content_light {
  margin-top: 70px;
  color: #ffffff;
  max-width: 470px; }

.container_item__center-text {
  text-align: center; }

.features {
  display: flex;
  justify-content: space-between; }

.features_item {
  max-width: 336px; }

.features_text {
  font-size: 14px;
  font-weight: 300; }

.section_media {
  padding: 0; }

.container_media {
  position: relative;
  padding: 18px 150px;
  box-shadow: 0 1px 2px 1px #86878B; }

.container_media .title {
  color: #86878B;
  font-size: 20px; }

.container_media .section-content {
  max-width: 375px;
  margin-top: 5px;
  font-size: 14px; }

.brands {
  position: absolute;
  top: 15px;
  right: 150px; }

.brands i {
  margin-left: 50px; }

.container_item_text {
  max-width: 455px; }

.tab {
  font-size: 15px;
  font-weight: 400;
  background-color: #333333;
  color: white;
  padding: 45px; }

.tab_active {
  background-color: #FF8B38; }

.tab:hover {
  cursor: pointer; }

.tab:not(:last-child) {
  border-bottom: 1px solid #F5F5F5; }

.container_item_text {
  display: none; }

.container_item__visible {
  display: block; }

.container_item .title {
  font-size: 20px;
  font-weight: 400; }

.container_item .section-content {
  max-width: 100%;
  margin: 48px 0; }

.container_item__flex {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  overflow: hidden; }

.title {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 300;
  position: relative; }
  .title::after {
    content: "";
    position: absolute;
    left: 0;
    top: 45px;
    width: 64px;
    height: 2px;
    background-color: #FF8B38; }

.title_media::after {
  display: none; }

.title_main {
  position: relative;
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
  font-weight: 300;
  color: white;
  line-height: 43.2px;
  max-width: 520px;
  margin-top: 20px; }
  .title_main::after {
    content: "";
    position: absolute;
    top: 120px;
    left: 0;
    width: 64px;
    height: 2px;
    background-color: #ffffff; }

.title_form {
  width: 100%;
  background-color: #F5F5F5;
  font-weight: 400;
  font-size: 20px;
  color: #333333;
  padding: 15px 54px; }

.title_form span {
  color: #FF8B38; }

.section-content_title {
  font-size: 14;
  font-weight: 700;
  color: black;
  margin-bottom: 5px; }

.title.title_uppercase {
  font-family: "Raleway", sans-serif;
  font-size: 36px; }
  .title.title_uppercase::after {
    left: 50%;
    top: 60px;
    transform: translate(-50%); }

.features_title {
  font-size: 20px;
  margin: 20px 0; }

.rates {
  display: flex;
  justify-content: space-between;
  align-items: flex-end; }

.table {
  border-collapse: collapse; }

.rates_td {
  width: 345px;
  font-size: 14px;
  padding: 12px 0;
  background-color: #ffffff;
  border-bottom: 1px solid #F5F5F5; }

.rates_td__black {
  background-color: #333333;
  color: white;
  border-bottom: 1px solid #707070; }

.rates_td__large {
  background-color: #333333;
  color: white;
  border-bottom: 1px solid #707070;
  font-size: 94px; }

.sub {
  display: inline;
  font-size: 36px; }

.rates_td__orange {
  background-color: #FF8B38;
  height: 5px;
  padding: 0;
  color: #ffffff; }

.rates_td__orange-text {
  background-color: #FF8B38;
  padding: 10px 0;
  color: #ffffff; }
