@font-face {
  font-family: 'open-sans';
  src: url("../fonts/open-sans.eot");
  src: url("../fonts/open-sans.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans.woff") format("woff"), url("../fonts/open-sans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

.header {
  width: 100%;
  background-color: #000000; }
  .header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    flex-direction: row; }

.header-nav {
  height: 100%; }
  .header-nav__btn {
    display: none; }
    @media (max-width: 768px) {
      .header-nav__btn {
        display: flex;
        align-items: center;
        position: fixed;
        top: 20px;
        right: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 2; } }
    .header-nav__btn > span,
    .header-nav__btn > span::before,
    .header-nav__btn > span::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #707070;
      transition: transform .25s ease-in; }
    .header-nav__btn > span::before {
      content: '';
      top: -8px; }
    .header-nav__btn > span::after {
      content: '';
      top: 8px; }

.menu-list {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  align-items: center;
  height: 100%; }
  .menu-list__link {
    position: relative;
    margin-right: 50px; }
    .menu-list__link:last-child {
      margin-right: 0; }
    .menu-list__link::after {
      content: "";
      position: absolute;
      bottom: -3px;
      left: 0;
      width: 0;
      height: 1px;
      background-color: #fff;
      transition: width 0.25s ease-in; }
    @media (max-width: 768px) {
      .menu-list__link {
        display: block;
        padding: 12px 24px;
        color: #fff;
        font-family: "Open Sans", Arial, sans-serif, sans-serif;
        font-size: 20px;
        font-weight: 300;
        text-decoration: none;
        margin-right: 0; } }
  .menu-list__link:hover::after {
    width: 100%; }
  @media (max-width: 768px) {
    .menu-list {
      display: block;
      position: fixed;
      visibility: hidden;
      top: 0;
      right: 0;
      width: 300px;
      height: 100%;
      margin: 0;
      padding: 80px 0;
      list-style: none;
      text-align: center;
      background-color: #000000;
      color: #fff;
      box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
      z-index: 1;
      transform: translateX(100%);
      transition: transform 0.25s ease-in; } }

#nav-menu {
  display: none; }

#nav-menu:checked ~ .header-nav__btn > span {
  transform: rotate(45deg); }

#nav-menu:checked ~ .header-nav__btn > span::before {
  top: 0;
  transform: rotate(0); }

#nav-menu:checked ~ .header-nav__btn > span::after {
  top: 0;
  transform: rotate(90deg); }

#nav-menu:checked ~ .menu-list {
  visibility: visible;
  transform: translateX(0); }

*,
*:before,
*:after {
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  text-decoration: none;
  color: inherit; }

input {
  border: none; }

button {
  border: none; }

body {
  font-family: "Open Sans", Arial, sans-serif;
  margin: 0; }

.img_empty {
  width: 455px;
  height: 305px;
  background-color: #9A9A9A;
  text-align: center;
  font-size: 34px;
  line-height: 1.1;
  padding: 107px 90px;
  margin-top: 20px;
  box-shadow: 0px 2px 40px 0px rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.5); }
  @media (max-width: 1440px) {
    .img_empty {
      margin-bottom: 20px; } }
  @media (max-width: 480px) {
    .img_empty {
      width: 325px;
      height: 225px;
      font-size: 24px;
      padding: 87px 90px; } }

.container {
  margin: 0 auto;
  max-width: 1400px;
  padding: 0 150px;
  font-size: 36px;
  text-align: left; }
  @media (max-width: 1440px) {
    .container {
      padding: 0 45px; } }
  @media (max-width: 1024px) {
    .container {
      padding: 0 80px; } }
  @media (max-width: 768px) {
    .container {
      padding: 0 40px; } }
  @media (max-width: 480px) {
    .container {
      padding: 0 20px; } }

.container_flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  @media (max-width: 1024px) {
    .container_flex {
      justify-content: center; } }

.preview {
  display: flex;
  justify-content: space-between;
  padding: 110px 0; }
  .preview__logo {
    margin-bottom: 16px; }
  @media (max-width: 768px) {
    .preview {
      flex-direction: column;
      justify-content: center; } }

@media (max-width: 768px) {
  .preview__item {
    margin: 0 auto;
    text-align: center; } }

@media (max-width: 768px) {
  .preview__item .text_light {
    text-align: center;
    max-width: 100%; } }

.preview__item:first-child {
  margin-right: 60px; }
  @media (max-width: 768px) {
    .preview__item:first-child {
      margin: 0 auto; } }

.brands {
  position: absolute;
  top: 15px;
  right: 150px; }

.brands i {
  margin-left: 50px;
  color: #86878B; }
  .brands i:hover {
    color: #303232;
    transition: color 0.25s ease-in; }

.style-content {
  text-align: center; }

.btn {
  display: inline-block;
  vertical-align: middle;
  padding: 10px 33px;
  font-size: 15px; }

.btn_orange {
  background-color: #FF8B38;
  color: #fff;
  border: none;
  padding: 14px 28px;
  border-radius: 3px;
  transition: background-color 0.2s linear; }
  .btn_orange:hover {
    background-color: #ec6b0f;
    cursor: pointer; }

.btn_gray {
  background-color: #9A9A9A;
  color: #fff;
  margin-top: 42.5px;
  border: 2px solid #fff;
  transition: background-color 0.2s linear;
  cursor: pointer; }
  .btn_gray:hover {
    background-color: #858383; }

.form {
  display: flex;
  flex-direction: column;
  width: 360px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.16);
  margin-top: 29px;
  overflow: hidden; }
  @media (max-width: 480px) {
    .form {
      width: 100%; } }
  .form__title {
    width: 100%;
    background-color: #F5F5F5;
    font-weight: 700;
    font-size: 21px;
    color: #333333;
    padding: 14px 54px; }
    .form__title::after {
      display: none; }
    .form__title span {
      color: #FF8B38; }
  .form__wrapper {
    padding: 17px 45px 9px;
    margin-bottom: 38px; }

.form-contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color: #fff;
  border-radius: 0 0 5px 5px;
  overflow: hidden;
  margin-top: 77px; }
  @media (max-width: 480px) {
    .form-contact {
      flex-direction: column; } }

.form-contact_item {
  display: flex;
  flex-direction: column;
  width: 47%; }
  @media (max-width: 480px) {
    .form-contact_item {
      width: 100%; } }

.input {
  width: 100%;
  padding: 7px;
  font-size: 14px;
  margin-bottom: 28px;
  color: #BDBDBD;
  border-bottom: 1px solid #BDBDBD; }
  .input:focus {
    outline: none;
    opacity: 0.6; }
  .input:hover {
    cursor: pointer; }
  .input:last-child {
    margin-bottom: 0; }
  @media (max-width: 480px) {
    .input {
      text-align: center; } }

.input_submit {
  padding: 20px 0 15px;
  background-color: #FF8B38;
  font-size: 15px;
  color: #fff;
  transition: background-color 0.2s linear;
  border: none; }
  .input_submit:hover {
    background-color: #ec6b0f;
    cursor: pointer; }

.input_send {
  display: block;
  width: 144px;
  margin: 43px auto;
  padding: 14px 0 13px;
  border-radius: 5px;
  background-color: #FF8B38;
  font-size: 15px;
  color: #fff;
  transition: background-color 0.2s linear;
  border: none; }
  .input_send:hover {
    background-color: #ec6b0f;
    cursor: pointer; }

.textarea {
  border: none;
  border-bottom: 1px solid #BDBDBD;
  color: #BDBDBD;
  font-size: 14px;
  padding: 19px; }

.section {
  width: 100%;
  background-color: #fff;
  padding-bottom: 30px; }
  .section__inner {
    padding: 104px 0 68px; }
    @media (max-width: 1024px) {
      .section__inner {
        padding: 50px 0 15px; } }

.section__inner_tabs {
  padding: 150px 0 80px; }
  @media (max-width: 1024px) {
    .section__inner_tabs {
      padding: 150px 0 20px; } }

.section__inner_features {
  padding: 100px 0 68px; }
  @media (max-width: 1024px) {
    .section__inner_features {
      padding: 50px 0 45px; } }

.section__inner_rates {
  padding: 100px 0 80px; }
  @media (max-width: 1024px) {
    .section__inner_rates {
      padding: 50px 0 20px; } }

.section__inner_reviews {
  padding: 87px 0 147px; }
  @media (max-width: 1024px) {
    .section__inner_reviews {
      padding: 70px 0 35px; } }

.section__inner_style {
  padding: 69px 0 34px;
  text-align: center; }

.section__inner.section__inner_contact {
  padding: 104px 0 53px; }
  @media (max-width: 1024px) {
    .section__inner.section__inner_contact {
      padding: 55px 0 15px; } }

.section_gray {
  background-color: #F5F5F5; }

.section_darkgray {
  position: relative;
  background-color: #9A9A9A;
  text-align: center;
  color: #fff; }

.greetins::before {
  display: inline-block;
  content: 'Insert your picture here';
  position: absolute;
  top: 50px;
  left: 47.4%;
  transform: translateX(-50%);
  font-size: 33px;
  color: rgba(255, 255, 255, 0.4); }
  @media (max-width: 768px) {
    .greetins::before {
      top: 0; } }

.text {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #86878B;
  text-align: left;
  line-height: 1.5;
  max-width: 455px;
  margin-top: 2px; }

.text_center {
  text-align: center;
  max-width: 100%; }

.text_darkgray {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: -10px;
  color: rgba(255, 255, 255, 0.4);
  max-width: 100%; }
  .text_darkgray::after {
    display: inline-block;
    content: 'Insert your picture here';
    position: absolute;
    bottom: 17px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    color: rgba(255, 255, 255, 0.4); }

.text_item__inline {
  margin-left: 30px; }

.text_item {
  display: flex;
  margin: 35px 0; }

.text__title {
  font-size: 14;
  font-weight: 700;
  color: black;
  margin-bottom: 5px; }

.text_light {
  margin-top: 75px;
  color: #fff;
  max-width: 470px; }
  @media (max-width: 1024px) {
    .text_light {
      margin-top: 45px; } }
  @media (max-width: 480px) {
    .text_light {
      margin-top: 25px; } }

.text_content {
  margin-top: 3px; }

.section_media {
  position: relative;
  padding: 0;
  box-shadow: 0 1px 2px 1px #86878B; }
  @media (max-width: 480px) {
    .section_media {
      padding-bottom: 30px; } }

.container_media {
  position: relative;
  padding: 17px 150px; }
  @media (max-width: 1440px) {
    .container_media {
      padding: 17px 80px;
      padding-bottom: 120px; } }

.container_media .title {
  color: #86878B;
  font-size: 20px; }

.container_media .section-content {
  max-width: 375px;
  margin-top: 5px;
  font-size: 14px; }

.brands {
  position: absolute;
  top: 30px;
  right: 150px; }
  @media (max-width: 1440px) {
    .brands {
      right: 80px;
      text-align: center; } }
  @media (max-width: 1024px) {
    .brands {
      left: 20px;
      top: 120px; } }

.brands i {
  margin-left: 70px;
  color: #86878B; }
  .brands i:hover {
    color: #303232;
    transition: color 0.25s ease-in; }
  @media (max-width: 1440px) {
    .brands i {
      margin-left: 20px; } }
  @media (max-width: 1024px) {
    .brands i {
      margin-left: 25px;
      font-size: 32px; } }
  @media (max-width: 768px) {
    .brands i {
      margin-left: 20px;
      font-size: 30px; } }

.icon {
  border: 3px solid #FF8B38;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  margin: 6px auto; }
  .icon .fa {
    line-height: 35px; }

.icon_features {
  width: 70px;
  height: 70px;
  margin: 0 auto; }
  .icon_features .fa {
    line-height: 63px; }

@media (max-width: 768px) {
  .tabs-content {
    margin: 0 auto; } }

.tabs-content__item {
  width: 495px;
  display: none;
  margin: 0 15px; }
  @media (max-width: 768px) {
    .tabs-content__item {
      text-align: center; } }
  @media (max-width: 480px) {
    .tabs-content__item {
      width: 325px; } }

.tabs-switcher__btn {
  font-size: 15px;
  font-weight: 400;
  background-color: #333333;
  color: #fff;
  padding: 47px 40px; }
  @media (max-width: 768px) {
    .tabs-switcher__btn {
      padding: 27px 20px; } }
  @media (max-width: 480px) {
    .tabs-switcher__btn {
      padding: 15px 10px; } }
  .tabs-switcher__btn:hover {
    cursor: pointer; }

.tabs-switcher__btn_active {
  background-color: #FF8B38; }

.tabs-switcher__btn:not(:last-child) {
  border-bottom: 1px solid #F5F5F5; }
  @media (max-width: 768px) {
    .tabs-switcher__btn:not(:last-child) {
      border-bottom: none;
      border-right: 1px solid #F5F5F5; } }

.is-visible {
  display: block; }

.tabs-switcher {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  overflow: hidden; }
  @media (max-width: 768px) {
    .tabs-switcher {
      flex-direction: row;
      margin: 0 auto; } }

.title_tabs {
  margin-bottom: 55px;
  font-weight: 700; }

.tabs-img {
  margin-top: 24px; }
  @media (max-width: 768px) {
    .tabs-img {
      margin: 20px auto 0; } }

.text_tab {
  margin-bottom: 57px; }
  @media (max-width: 768px) {
    .text_tab {
      text-align: center;
      max-width: none; } }

.title {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 20px;
  font-weight: 300;
  position: relative; }
  .title::after {
    content: "";
    position: absolute;
    left: 35px;
    top: 49px;
    transform: translateX(-50%);
    width: 64px;
    height: 2px;
    background-color: #FF8B38; }

.title_sub {
  margin-bottom: 54px; }

.title_tabs::after {
  display: none; }

@media (max-width: 768px) {
  .title_tabs {
    margin-top: 20px; } }

.title_media {
  text-align: left;
  font-weight: 900; }
  .title_media::after {
    display: none; }

.title_main {
  position: relative;
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  font-weight: 300;
  color: #fff;
  line-height: 43px;
  text-align: left;
  letter-spacing: -0.1px;
  max-width: 520px; }
  @media (max-width: 768px) {
    .title_main {
      text-align: center;
      max-width: 100%;
      font-size: 30px; } }
  @media (max-width: 480px) {
    .title_main {
      font-size: 24px; } }
  .title_main::after {
    content: "";
    position: absolute;
    top: 119px;
    left: 34px;
    width: 64px;
    height: 2px;
    background-color: #fff; }
    @media (max-width: 1093px) {
      .title_main::after {
        display: none; } }

h3.title_uppercase {
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  text-align: center;
  margin-bottom: 47px; }
  h3.title_uppercase::after {
    left: 50%;
    top: 62px;
    transform: translate(-50%); }
    @media (max-width: 1024px) {
      h3.title_uppercase::after {
        display: none; } }

h3.title_uppercase_darkgray {
  margin-bottom: 52px; }
  h3.title_uppercase_darkgray::after {
    background-color: #fff; }

.reviews {
  display: flex;
  justify-content: space-between;
  margin: 55px auto 0;
  width: 96.5%; }
  .reviews__item {
    max-width: 275px;
    position: relative; }
    @media (max-width: 1024px) {
      .reviews__item {
        margin-bottom: 90px; } }
  .reviews__text {
    background: url("../img/u229.png") no-repeat center;
    width: auto;
    height: 147px;
    padding: 20px 18px;
    text-align: start; }
  .reviews__photo {
    position: absolute;
    left: 2px;
    top: 155px;
    background-color: #707070;
    width: 70px;
    height: 70px;
    border-radius: 50%; }
  .reviews__author {
    left: 83px;
    top: 149px;
    position: absolute;
    margin-top: 10px; }
  .reviews__name {
    font-size: 20px;
    font-weight: 700;
    padding: 6px;
    margin-bottom: -6px; }
  .reviews__prof {
    font-size: inherit;
    text-align: left; }
  @media (max-width: 1024px) {
    .reviews {
      flex-direction: column;
      align-items: center; } }

.rates {
  margin-top: 80px;
  height: 450px; }
  .rates__item {
    margin: 0;
    width: 330px; }
  @media (max-width: 1024px) {
    .rates {
      max-width: 340px;
      margin: 40px auto 0; } }

.swiper-button-next:after,
.swiper-button-prev:after {
  color: #FF8B38;
  background-color: #333333;
  border-radius: 50%;
  padding: 5px 13px;
  font-size: 36px; }

.table-rates {
  border-collapse: collapse;
  text-align: center; }
  .table-rates__td {
    width: 345px;
    font-size: 10px;
    padding: 12px 0;
    background-color: #fff;
    border-bottom: 1px solid #F5F5F5; }
  .table-rates__td_black {
    background-color: #333333;
    color: #fff;
    font-size: 14px;
    padding: 18px 0; }
  .table-rates__td_small {
    background-color: #333333;
    color: #fff;
    font-size: 14px;
    font-style: italic;
    padding: 0 0 15px; }
  .table-rates__td_large {
    background-color: #333333;
    color: #fff;
    border-bottom: 1px solid #333333;
    font-size: 58px;
    font-weight: 900;
    padding: 17px 0 0; }
  .table-rates__td_orange {
    background-color: #FF8B38;
    height: 5px;
    padding: 0;
    color: #fff; }
  .table-rates__td_orange-text {
    background-color: #FF8B38;
    padding: 10px 0;
    color: #fff; }

.sub {
  display: inline;
  font-size: 36px; }

.footer {
  background-color: #000000;
  height: 80px;
  padding: 21px;
  font-size: 12px;
  text-align: center;
  color: #86878B; }

.footer-media {
  margin-bottom: 12px; }

.footer-media i {
  margin-left: 20px; }
  .footer-media i:hover {
    color: #303232;
    transition: color 0.25s ease-in; }

.features {
  margin-top: 80px;
  display: flex;
  justify-content: space-between; }
  @media (max-width: 480px) {
    .features {
      flex-direction: column; } }

.features__item {
  max-width: 336px; }
  @media (max-width: 480px) {
    .features__item {
      margin-bottom: 15px;
      max-width: 100%; } }

.features__text {
  font-size: 14px;
  font-weight: 300; }

.features__title {
  font-size: 20px;
  margin: 20px 0;
  font-weight: 700; }
