footer.footer
	.footer-media
		a(href='#')
			i.fa.fa-facebook.fa-2x(aria-hidden='true')
		a(href='#')
			i.fa.fa-twitter.fa-2x(aria-hidden='true')
		a(href='#')
			i.fa.fa-google-plus.fa-2x(aria-hidden='true')
		a(href='#')
			i.fa.fa-pinterest.fa-2x(aria-hidden='true')
		a(href='#')
			i.fa.fa-instagram.fa-2x(aria-hidden='true')
		a(href='#')
			i.fa.fa-stumbleupon.fa-2x(aria-hidden='true')
		a(href='#')
			i.fa.fa-rss.fa-2x(aria-hidden='true')
	.footer-copyright © 2022 Axure Themes