header.header
  img.img(src='img/Logo-header.png' alt='Logo')
  .header-nav
    a.header-nav__link(href='#') Features
    a.header-nav__link(href='#') About
    a.header-nav__link(href='#') Prising
    a.header-nav__link(href='#') Reviews
    a.header-nav__link(href='#') Contact