header.header  
  .container
    .header__wrapper
      img.img(src='img/Logo-header.png' alt='Logo')
      .header-nav
        a.header-nav__link(href='#') Features
        a.header-nav__link(href='#') About
        a.header-nav__link(href='#') Prising
        a.header-nav__link(href='#') Reviews
        a.header-nav__link(href='#') Contact
      .header-nav_burger
        input(type="checkbox" id="nav-menu")
        label(for="nav-menu").header-nav__btn
          span
        ul.menu-list
          li
           a.header-nav__link(href='#') Features
          li
            a.header-nav__link(href='#') About
          li
            a.header-nav__link(href='#') Prising
          li
            a.header-nav__link(href='#') Reviews
          li
            a.header-nav__link(href='#') Contact