header.header
  .img.img_header
    img(src='img/Logo-header.png' alt='Logo')
  .header-nav
    a(href='#') Features
    a(href='#') About
    a(href='#') Prising
    a(href='#') Reviews
    a(href='#') Contact