*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    }

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

input {
    border: none;
}

button {
    border: none;
}

body {
    font-family: $OpenSans;

    margin: 0;
}

.img_empty {  

    width: 455px;
    height: 305px;

    background-color: $gray2;

    text-align: center;    
    font-size: 34px;
    line-height: 1.1;  

    padding: 107px 90px;
    margin-top: 20px;

    box-shadow: 0px 2px 40px 0px rgba($color: $black, $alpha: 0.5);
    
    
    color: rgba($color: $white, $alpha: 0.5);

    @media ($wide) {        
        margin-bottom: 20px;
    }

    @media ($phone) {
        width: 325px;
        height: 225px;
        font-size: 24px;
        padding: 87px 90px;
    }
}

.container {
    margin: 0 auto;
    max-width: 1400px;
    padding: 0 150px;
    font-size: 36px;
    text-align: left;
    //background: rebeccapurple;

    @media ($wide) {
        //background: red;
        padding: 0 45px;
    }

    @media ($medium) {
        padding: 0 80px;
        //background: green;
    }

    @media ($small) {
        //background: blue;
        padding: 0 40px;
    }

    @media ($phone) {
        //background: yellow;
        padding: 0 20px;
    }
}

.container_flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media ($medium) {
        justify-content: center;
    }
}

.preview {
    display: flex;
    justify-content: space-between;
    padding: 110px 0;

    &__logo {
        margin-bottom: 16px;        
    }

    @media ($small) {
        flex-direction: column;
        justify-content: center;
    }
}

.preview__item {
    @media ($small) {
        margin: 0 auto;
        text-align: center;
    }
}

.preview__item .text_light {
    @media ($small) {        
        text-align: center;
        max-width: 100%;
    }
}

.preview__item:first-child {
    margin-right: 60px; 
    
    @media ($small) {
        margin: 0 auto;
    }
}

.brands {
    position: absolute;
    top: 15px;
    right: 150px; }
  
.brands i {
    margin-left: 50px;
    color: $gray3;
    
    &:hover {
        color: $gray4;
        transition: color 0.25s ease-in; }
}

.style-content {
    text-align: center;
}