.btn {
    display: inline-block;
    vertical-align: middle;

    padding: 10px 33px;

    font-size: 15px;    
}

.btn_orange {
    background-color: $orange;
    color: $white;
    border: none;
    padding: 14px 28px;;
    border-radius: 3px;
    transition: background-color 0.2s linear;

    &:hover {
        background-color: $orange2;
        cursor: pointer;
    }
}


.btn_gray {
    background-color: $gray2;
    color: $white;

    margin-top: 42.5px;

    border: 2px solid $white;
    transition: background-color 0.2s linear;
    cursor: pointer;

    &:hover {
        background-color: $gray5;
    }
}

