.features {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;

    @media ($phone) {
        flex-direction: column;
    }
}

.features__item {
    max-width: 336px;

    @media ($phone) {
        margin-bottom: 15px;
        max-width: 100%;
    }
}

.features__text {
    font-size: 14px;
    font-weight: 300;
}
.features__title {
    font-size: 20px;
    margin: 20px 0;
    font-weight: 700;
}