.form {
    display: flex;
    flex-direction: column;

    max-width: 360px;
    height: 362px;  
    
    background-color: white;

    border-radius: 0 0 5px 5px;

    overflow: hidden;
}

.form-contact {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    
    width: 100%;
    
    background-color: white;

    border-radius: 0 0 5px 5px;

    overflow: hidden;
}

.form-contact_item {
    display: flex;
    flex-direction: column;

    width: 50%;
}

.input {
    margin: 0 30px;
    margin-top: 35px;
    padding: 10px;
    
    font-size: 14px;

    color: #BDBDBD;

    border-bottom: 1px solid #BDBDBD;
}

.input:focus {
    outline: none;
    opacity: 0.6;
}

.input:hover {
    cursor: pointer;
}

.input_submit {
    flex-wrap: wrap;

    padding: 15px;

    background-color: #FF8B38;

    font-size: 15px;
    color: white;
    margin: 0;

    margin-top: 45px;
    
    transition: background-color 0.2s linear;
}

.input_submit:hover {
    background-color: #ec6b0f;
    cursor: pointer;
}

.textarea {
    border: none;
    border-bottom: 1px solid #BDBDBD;

    color: #BDBDBD;
    font-size: 14px;

    padding: 19px;
}