.header {    
    width: 100%;    

    background-color: $black;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 72px;
        flex-direction: row;        
    }
}



.header-nav {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 300;
    color: $white;

    &__link {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            bottom: -3px;
            left: 0;

            width: 0;
            height: 1px;
            background-color: $white;
            
            transition: width 0.25s ease-in;
        }
    }

    &__link:hover {
        &::after {
            width: 100%;
        }
    }
}

.header-nav a:not(:last-child) {
    margin-right: 50px;
}

