.section_media {
    position: relative;
    padding: 0;

    box-shadow: 0 1px 2px 1px $gray3;   

    @media ($phone) {
        padding-bottom: 30px;
    }
}

.container_media {
    position: relative;
    padding: 17px 150px; 
    
    @media ($wide) {
        padding: 17px 80px;
        padding-bottom: 120px;
    }
}

.container_media  .title { 
    color: $gray3;
    font-size: 20px;
}

.container_media .section-content {
    max-width: 375px;

    margin-top: 5px;

    font-size: 14px;
}

.brands {
    position: absolute;
    top: 30px;
    right: 150px;
    
    @media ($wide) {
        right: 80px;
        text-align: center;
    }

    @media ($medium) {
        left: 20px;
        top: 120px;
    }
}

.brands i {
    margin-left: 70px;
    color: $gray3;
    

    &:hover {
        color:$gray4;
        transition: color 0.25s ease-in;        
    }

    @media ($wide) {
        margin-left: 20px;
    }

    @media ($medium) {
        margin-left: 25px;  
        font-size: 32px;      
    }

    @media ($small) {        
        margin-left: 20px;  
        font-size: 30px;
    }
}

.icon {
    border: 3px solid $orange;
    border-radius: 50%;

    width: 40px;
    height: 40px;

    text-align: center;

    margin: 6px auto;

    .fa {
        line-height: 35px;
    }
}

.icon_features {
    width: 70px;
    height: 70px;
    margin: 0 auto;

    .fa {
        line-height: 63px;
    }
}