.reviews {
    display: flex;
    justify-content: space-between;
    margin-top: 55px;

    &__item {
        max-width: 275px;
    
        position: relative;
    }

    &__text {
        background: url('../img/u229.png') no-repeat center;
        width: auto;
        height: 147px;
        
        padding: 20px 18px;
    
        text-align: start;
    }

    &__photo {
        position: absolute;
        left: 4px;
        top: 150px;
    
        background-color: $gray8;
    
        width: 70px;
        height: 70px;
    
        border-radius: 50%;
    }

    &__author {   
        text-align: center;
    
        margin-top: 10px;
    }

    &__name {
        font-size: 20px;
        font-weight: 400;
    
        padding: 6px;
    }

    &__prof {
        font-size: inherit;
    }
}
