.reviews {
    display: flex;    
    justify-content: space-between;
    margin: 55px auto 0;
    width: 96.5%;

    &__item {
        max-width: 275px;
    
        position: relative;

        @media ($medium) {
            margin-bottom: 90px;
        }
    }

    &__text {
        background: url('../img/u229.png') no-repeat center;
        width: auto;
        height: 147px;
        
        padding: 20px 18px;
    
        text-align: start;
    }

    &__photo {
        position: absolute;
        left: 2px;
        top: 155px;
    
        background-color: $gray8;
    
        width: 70px;
        height: 70px;
    
        border-radius: 50%;
    }

    &__author {
        left: 83px;
        top: 149px;
        position: absolute;     
        
        margin-top: 10px;
    }

    &__name {
        font-size: 20px;
        font-weight: 700;
    
        padding: 6px;
        margin-bottom: -6px;
    }

    &__prof {
        font-size: inherit;

        text-align: left;
    }

    @media ($medium) {
        flex-direction: column;
        align-items: center;
    }
}
