.section {
    width: 100%;
    padding: 110px 150px;
    background-color: #ffffff; 
}

.section_gray {
    background-color: #F5F5F5;
}

.section_darkgray {
    position: relative;

    background-color: #9A9A9A; 

    text-align: center;
    color: white;
}

.section__greetins::before {
    display: inline-block;
    content: 'Insert your picture here';

    position: absolute;
    top: 50px;  
    left: 50%;  
     
    transform: translateX(-50%);

    font-size: 33px;
    color: rgba(255, 255, 255, 0.4);
}

.section-content {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;

    color: #86878B;
    text-align: left;
    max-width: 395px;  
    
    margin-top: 45px;
}

.section-content_center {
    text-align: center;
    max-width: 100%;
}

.section-content_darkgray {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;

    color: rgba(255, 255, 255, 0.5);
    max-width: 100%; 
}

.section-content_darkgray::after {
    display: inline-block;
    content: 'Insert your picture here';

    position: absolute;
    bottom: 50px;  
    left: 50%;  
     
    transform: translateX(-50%);

    font-size: 16px;
    color: rgba(255, 255, 255, 0.4);
}

.section-content_item__inline {
    margin-left: 30px;
}

.section-content_item {
    display: flex;

    margin: 35px 0;
}

.section-content_light {
    margin-top: 70px;
    color: #ffffff;

    max-width: 470px;
}

.container {
    font-size: 36px;
    text-align: center;
}

.container_item__center-text {
    text-align: center;
}

.features {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}

.features_item {
    max-width: 336px;
}

.features_text {
    font-size: 14px;
    font-weight: 300;
}