.section {
    width: 100%;    
    background-color: $white;
    padding-bottom: 30px; 
    
    &__inner {
        padding: 104px 0 68px;    
    
        @media ($medium) {
            padding: 50px 0 15px;
        }
    }
}

.section__inner_tabs {
    padding: 150px 0 80px;

    @media ($medium) {
        padding: 150px 0 20px;
    }
}

.section__inner_features {
    padding: 100px 0 68px;

    @media ($medium) {
        padding: 50px 0 45px;
    }
}

.section__inner_rates {
    padding: 100px 0 80px;

    @media ($medium) {
        padding: 50px 0 20px;
    }
}

.section__inner_reviews {
    padding: 87px 0 147px;

    @media ($medium) {
        padding: 70px 0 35px;
    }
}

.section__inner_style {
    padding: 69px 0 34px;
    text-align: center;
}

.section__inner.section__inner_contact {
    padding: 104px 0 53px;

    @media ($medium) {
        padding: 55px 0 15px;
    }
}

.section_gray {
    background-color: $gray;
}

.section_darkgray {
    position: relative;

    background-color: $gray2; 

    text-align: center;
    color: $white;
}

.greetins::before {
    display: inline-block;
    content: 'Insert your picture here';

    position: absolute;
    top: 50px;  
    left: 47.4%;  
     
    transform: translateX(-50%);

    font-size: 33px;
    color: $white2;

    @media ($small) {
        top: 0;  
    }
}

.text {
    font-family: $Raleway;
    font-size: 14px;
    font-weight: 300;

    color: $gray3;
    text-align: left;
    line-height: 1.5;

    max-width: 455px;
    
    margin-top: 2px;
}

.text_center {
    text-align: center;
    max-width: 100%;
}

.text_darkgray {
    font-family: $OpenSans;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: -10px;
    color: $white2;
    max-width: 100%;

    &::after {
        display: inline-block;
        content: 'Insert your picture here';
    
        position: absolute;
        bottom: 17px;  
        left: 50%;  
         
        transform: translateX(-50%);
    
        font-size: 16px;
        color: $white2;
    }
}

.text_item__inline {
    margin-left: 30px;
}

.text_item {
    display: flex;

    margin: 35px 0;
}

.text__title {
    font-size: 14;
    font-weight: 700;

    color: black;

    margin-bottom: 5px;
}

.text_light {
    margin-top: 75px;
    color: $white;

    max-width: 470px;

    @media ($medium) {
        margin-top: 45px;
    }

    @media ($phone) {
        margin-top: 25px;
    }
}

.text_content {
    margin-top: 3px;
}

