.rates {
    display: flex;
    justify-content: space-between;

    align-items: flex-end;
}

.table {
    border-collapse: collapse;
}


.rates_td {
    width: 345px;
    font-size: 14px;
    padding: 12px 0;

    background-color:$white;

    border-bottom: 1px solid $gray;
}

.rates_td__black {
    background-color:$gray7;
    color: $white;

    border-bottom: 1px solid $gray8;
}

.rates_td__large {
    background-color:$gray7;
    color: $white;

    border-bottom: 1px solid $gray8;

    font-size: 94px;
}

.sub {
    display: inline;
    font-size: 36px;
}

.rates_td__orange {
    background-color:$orange;
    height: 5px;
    padding: 0;

    color: $white;
}

.rates_td__orange-text {
    background-color:$orange;
    padding: 10px 0;
    color: $white;
}