.title {
    font-family: $OpenSans;
    font-size: 20px;
    font-weight: 300;

    position: relative;


    &::after {
        content: "";
    
        position: absolute;
        left: 50%;
        top: 45px;
        transform: translateX(-50%);
    
        width: 64px;
        height: 2px;
    
        background-color: $orange;
    }
}

.title_media {
    text-align: left;

    &::after {
        display: none;
    }
}

.title_main {
    position: relative;

    font-family: $Raleway;
    font-size: 36px;
    font-weight: 300;
    color: $white;
    line-height: 43.2px;
    text-align: left;

    max-width: 520px;

    margin-top: 20px;


    &::after {
        content: "";
    
        position: absolute;
        top: 120px;
        left: 50%;
        transform: translateX(-50%);
    
        width: 64px;
        height: 2px;
    
        background-color: $white;
    
    }
}


.title_form {
    width: 100%;

    background-color: $gray;

    font-weight: 400;
    font-size: 20px;

    color: $black2;

    padding: 15px 54px;

    &::after {
        display: none;
    }
}



.title_form span{
    color: $orange;
}

h3.title_uppercase {
    font-family: $Raleway;
    font-size: 36px;
    text-align: center;
    
    &::after {
        left: 50%;
        top: 60px;

        transform: translate(-50%);

    }
}

h3.title_uppercase_darkgray {
    &::after {
        background-color: $white;
    }
}

.features__title {
    font-size: 20px;
    margin: 20px 0;
}