// colors
$body: #F2F1EF;
$white: #fff;
$white2: rgba(255, 255, 255, 0.4);
$yellow: #FBAE38;
$black: #000000;
$black2: #333333;
$red: #E74A21;
$gray: #F5F5F5;
$gray2: #9A9A9A;
$gray3: #86878B;
$gray4:#303232;
$gray5: #858383;
$gray6: #BDBDBD;
$gray7: #333333;
$gray8: #707070;
$orange: #FF8B38;
$orange2: #ec6b0f;

// MEDIA
$wide: 'max-width: 1440px';
$medium: 'max-width: 1024px';
$small: 'max-width: 768px';
$phone: 'max-width: 480px';

//Fonts
$OpenSans: 'Open Sans', Arial, sans-serif;
$Raleway: 'Raleway', sans-serif;