// colors
$body: #F2F1EF;
$white: #fff;
$yellow: #FBAE38;
$black: #000000;
$black2: #333333;
$red: #E74A21;
$gray: #9D9D9D;

// MEDIA
$wide: 'max-width: 1200px';
$medium: 'max-width: 1024px';
$small: 'max-width: 768px';
$phone: 'max-width: 480px';
