.container__item_text {
    max-width: 455px;
}


.tab {
    font-size: 15px;
    font-weight: 400;

    background-color: $black2;
    color: $white;

    padding: 45px;
    
    &:hover {
        cursor: pointer;
    }
}

.tab_active {
    background-color: $orange;    
}

.tab:not(:last-child) {
    border-bottom: 1px solid $gray;
}

.container__item_text {
    display: none;
}

.container__item_visible {
    display: block;
}

.container_item .title {
    font-size: 20px;
    font-weight: 400;
}

.container_item .section-content {
    max-width: 100%;
    margin: 48px 0;
}

.container__item_flex {
    display: flex;
    flex-direction: column;

    border-radius: 5px;

    overflow: hidden;
    
}
