.tabs-content {
    
    @media ($small) {
        margin: 0 auto;;        
    }
} 

.tabs-content__item {
    width: 495px;
    display: none;
    margin: 0 15px;
    @media ($small) {
        text-align: center;        
    }

    @media ($phone) {
        width: 325px;        
    }
} 



.tabs-switcher__btn {
    font-size: 15px;
    font-weight: 400;

    background-color: $black2;
    color: $white;

    padding: 47px 40px;
    
    @media ($small){
        padding: 27px 20px;
    }

    @media ($phone){
        padding: 15px 10px;
    }

    &:hover {
        cursor: pointer;
    }
}

.tabs-switcher__btn_active {
    background-color: $orange;    
}

.tabs-switcher__btn:not(:last-child) {
    border-bottom: 1px solid $gray;

    @media ($small) {
        border-bottom: none;
        border-right: 1px solid $gray;        
    }
}

.is-visible {
    display: block;
}

.tabs-switcher {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;

    @media ($small) {
        flex-direction: row;
        margin: 0 auto;              
    }
}

.title_tabs {
    margin-bottom: 55px;
    font-weight: 700;
}

.tabs-img {
    margin-top: 24px;

    @media ($small) {
        margin: 20px auto 0;        
    }
}

.text_tab {
    margin-bottom: 57px;

    @media ($small) {
        text-align: center; 
        max-width: none;      
    }
}