.tabs-content__item {
    width: 495px;
    display: none;
    margin-top: 40px;
}


.tabs-switcher__btn {
    font-size: 15px;
    font-weight: 400;

    background-color: $black2;
    color: $white;

    padding: 45px;
    
    &:hover {
        cursor: pointer;
    }
}

.tabs-switcher__btn_active {
    background-color: $orange;    
}

.tabs-switcher__btn:not(:last-child) {
    border-bottom: 1px solid $gray;
}

.is-visible {
    display: block;
}

.tabs-switcher {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
}
