extends ./tpl/layout

block page
	section.section.section_darkgray
		.container.container__preview
			.section__preview
				img(src='img/Logo.png' alt='Logo')
				h1.title.title_main MODERN AXURE TEMPLATE FOR BEAUTIFUL PROTOTYPES
				.section-content.section-content_light
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
				button.btn.btn-gray Download
			form.form(action='/' method='post')
				.title.title_form
					| Try Your 
					span FREE
					|  Trial Today
				input.input.input_name(type='text' name='name' placeholder='Name')
				input.input.input_mail(type='email' name='email' placeholder='Email')
				input.input.input_pass(type='password' name='password' placeholder='Password')
				input.input.input_submit(type='submit' name='button' value='Get started')
	section.section.section_media
		.container.container_media
			h3.title Social Media
			.section-content
				| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
			.brands
				a(href='#')
					i.fa.fa-facebook.fa-4x(style='color: #86878B;' aria-hidden='true')
				a(href='#')
					i.fa.fa-twitter.fa-4x(style='color: #86878B;' aria-hidden='true')
				a(href='#')
					i.fa.fa-google-plus.fa-4x(style='color: #86878B;' aria-hidden='true')
				a(href='#')
					i.fa.fa-pinterest.fa-4x(style='color: #86878B;' aria-hidden='true')
				a(href='#')
					i.fa.fa-instagram.fa-4x(style='color: #86878B;' aria-hidden='true')
				a(href='#')
					i.fa.fa-stumbleupon.fa-4x(style='color: #86878B;' aria-hidden='true')
				a(href='#')
					i.fa.fa-rss.fa-4x(style='color: #86878B;' aria-hidden='true')
	section.section.section_gray
		.container.container_flex
			.container_item.container_item__flex
				button.tab.tab_active(type='button') Tab 1
				button.tab(type='button') Tab 3
				button.tab(type='button') Tab 3
			.container_item.container_item_text.container_item__visible
				h3.title Где его взять?
				.section-content
					| Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца.
				button.btn.btn_orange Download
			.container_item.container_item_text
				h3.title Почему он используется?
				.section-content
					| Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст..
				button.btn.btn_orange Download
			.container_item.container_item_text
				h3.title Откуда он появился?
				.section-content
					| Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа Hampden-Sydney, штат Вирджиния, взял одно из самых странных слов в Lorem Ipsum, "consectetur", и занялся его поисками в классической латинской литературе.
				button.btn.btn_orange Download
			.container_item
				img(src='img/image_right_u255.png' alt='/')
	section.section
		.container.container_flex
			.container_item
				.img_none Insert you picture here
			.container_item.container_item_text.container_item__visible
				h3.title Sub list section
				.section-content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
					.section-content_item 
						a(href="#") 
							i.fa.fa-cloud-upload.fa-4x(style='color: #ff8b38;' aria-hidden="true") 							
						.section-content_item__inline
							.section-content_title Title
							.section-content_text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
					.section-content_item 
						a(href="#") 
							i.fa.fa-cloud-upload.fa-4x(style='color: #ff8b38;' aria-hidden="true") 							
						.section-content_item__inline
							.section-content_title Title
							.section-content_text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin ravida dolor sit amet lacus accumsan et viverra justo commodo.

	section.section.section_gray
		.container.container_flex
			.container_item.container_item_text.container_item__visible
				h3.title Standard Picture Section
				.section-content 
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes. 
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
			.container_item
				.img_none Insert you picture here
	section.section
		.container
			h3.title.title_uppercase WHY THIS IS AWESOME
			.section-content
			.features
	section.section.section-gray
		.container
			h3.title.title_uppercase PRICING OPTIONS
			.section-content Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			.rates
				.rate
				.rate.rate-active
				.rate
			img(src='/' alt='/')
	section.section
		.container
			h3.title.title_uppercase WHAT OUR CUSTOMERS ARE SAYING
			.section-content Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			.reviews
				.review
				.review
				.review
	section.section.section_download
		.container
			h2.download-title STYLISH AXURE DESIGN
			p.download-content
				| Use the sections you need, remove the ones you don't. Create gorgeous prototypes faster than ever!
			button.download-btn
	section.section
		.container
			h2.section-title CONTACT US
			.section-content Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			form.contact-form
				button.download-btn.orange


